<template name="confirm">
    <style>
        .disagree {
            display: inline-block;
            width: 200px;
            /*height: 54px;*/
            vertical-align: middle;
            margin-right: 30px;
            font-size: 16px;
            border: 1px solid;

        }

        .agree {
            width: 200px;
            /*height: 54px;*/
            vertical-align: middle;
            margin-right: 30px;
            font-size: 16px;
        }
    </style>
    <p style="text-align: center;"><strong><span
            style="font-size: 16.0pt; font-family: 仿宋;">拿稳科技云系统用户服务协议</span></strong></p>
    <p><strong><span style="font-size: 16.0pt; font-family: 仿宋;">&nbsp;</span></strong></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第一条</span></strong><strong><span
            style="font-size: 12.0pt; font-family: 仿宋;">&nbsp; </span></strong><strong><span
            style="font-size: 12.0pt; font-family: 仿宋;">特别提示</span></strong></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">1</span><span style="font-size: 12.0pt; font-family: 仿宋;">、在使用拿稳科技云系统服务之前，请您务必审慎阅读、充分理解《安徽拿稳科技云系统用户服务协议》（以下简称&ldquo;本协议&rdquo;），<strong>特别是限制或免除责任的相应条款、以及用户授权条款、法律适用和争议解决条款。限制或免除责任的相应条款以加粗形式提示您注意。</strong>未成年人应在法定监护人的陪同下阅读。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">2</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您点击&ldquo;阅读并同意注册协议&rdquo;按钮即表示您确认对本协议全部条款含义已充分理解并完全接受，且本协议即时生效。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">、安徽信息科技有限公司有权在必要时修改本协议条款并按法律规定公示，您可以在相关服务页面查阅最新版本的协议条款。本协议条款变更后，如果您继续使用拿稳科技云提供的服务，即视为已接受修改后的协议。如果您不接受修改后的协议，您应当停止使用拿稳科技云系统提供的服务。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">&nbsp;</span></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第二条 协议的范围</span></strong></p>
    <p style="text-indent: 24.0pt;"><span style="font-size: 12.0pt; font-family: 仿宋;">本协议是您与拿稳科技云系统服务的提供者安徽拿稳信息科技有限公司（以下简称&ldquo;拿稳科技&rdquo;）之间关于您登录、使用拿稳科技云系统服务（包括但不限于</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">PC</span><span style="font-size: 12.0pt; font-family: 仿宋;">端、移动端设备等方式登陆并使用拿稳科技云服务）所订立的协议。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">&nbsp;</span></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第三条 账户使用规则</span></strong></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（一）帐户注册 </span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">1</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您在注册时应当提供准确的身份资料或信息，如您提供的身份资料或信息有任何变动，应当及时更新。如因注册信息不准确而引起的问题由您自行承担，拿稳科技不负任何责任或义务并有权暂停或终止您的账户。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">2</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您应按照机密的原则设置和保管密码，包括但不限于：</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">1</span><span style="font-size: 12.0pt; font-family: 仿宋;">）避免使用生日、电话号码等与本人明显相关的数字作为密码；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">2</span><span style="font-size: 12.0pt; font-family: 仿宋;">）收到初始密码后应通过登录拿稳科技云尽快重新设置密码；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">）应定期更换密码并牢记；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">4</span><span style="font-size: 12.0pt; font-family: 仿宋;">）在设备上输入密码时，应防止旁人或不安全设备窥视；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">5</span><span style="font-size: 12.0pt; font-family: 仿宋;">）不应在网吧等公众场所的或他人的电脑或网络设备上使用拿稳科技云系统；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">6</span><span style="font-size: 12.0pt; font-family: 仿宋;">）结束使用拿稳科技云系统，应选择安全退出方式终止当前服务；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">7</span><span style="font-size: 12.0pt; font-family: 仿宋;">）发现密码泄漏、遗忘，应及时办理密码重置手续。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">8</span><span style="font-size: 12.0pt; font-family: 仿宋;">）其他有损于您使用的账号与密码的行为。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您须妥善保管本人的用户名和密码，及装载和使用拿稳科技云系统应用的设备。凡使用该用户名和密码的行为，拿稳科技视为您本人的操作，操作所产生的电子信息记录均为拿稳科技云系统用户行为的有效凭据。您对您及他人使用该用户名和密码所进行的一切活动负全部责任并承担全部风险。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">4</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您注册的账户的所有权归拿稳科技所有，您在完成注册后，仅获得账户的使用权，且该使用权仅属于您。同时，您不得赠与、借用、租用、转让或售卖账户或者以其它方式许可非他人使用账户。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（二）用户的禁止行为</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">您使用拿稳科技云系统服务时，应当遵守中国有关法律法规，不得为任何非法目的使用拿稳科技云系统；您不得从事以下行为，拿稳科技云系统的记录可作为实施该行为的证据：</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">1</span><span style="font-size: 12.0pt; font-family: 仿宋;">、发布、传送、传播、储存危害国家安全统一、破坏社会稳定、违反公序良俗、侮辱、诽谤、淫秽、暴力以及任何违反国家法律法规的内容；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">2</span><span style="font-size: 12.0pt; font-family: 仿宋;">、发布、传送、传播、储存侵害他人知识产权、商业秘密等合法权利的内容；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">、恶意虚构事实、隐瞒真相以误导、欺骗他人；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">4</span><span style="font-size: 12.0pt; font-family: 仿宋;">、发布、传送、传播广告信息及垃圾信息；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">5</span><span style="font-size: 12.0pt; font-family: 仿宋;">、将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序等资料，加以上载、张贴、发送电子邮件或以其他方式传送；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">6</span><span style="font-size: 12.0pt; font-family: 仿宋;">、恶意登录、注册，恶意使用系统功能及服务；干扰或破坏拿稳科技云系统服务或与拿稳科技云系统服务相连的服务器和网络，或不遵守拿稳科技云系统服务网络使用的规定；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">7</span><span style="font-size: 12.0pt; font-family: 仿宋;">、恶意诋毁或损害拿稳科技云系统声誉、利用拿稳科技云系统用户身份从事违反国家法律法规活动等行为；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">8</span><span style="font-size: 12.0pt; font-family: 仿宋;">、违反任何相关的中国法律、行政法规、规章、条例等其他具有法律效力的规范。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">如果拿稳科技发现或收到他人举报您发布的信息违反本条约定，拿稳科技有权进行独立判断并采取技术手段予以删除、屏蔽或断开链接。同时，拿稳科技有权视用户的行为性质，采取包括但不限于暂停或终止服务，限制、冻结或终止账号使用等措施并追究法律责任。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">&nbsp;</span></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第四条 服务的变更、中断或终止</span></strong></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（一）您理解并同意：拿稳科技需要定期或不定期地对提供服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，或对拿稳科技进行升级、改造；如因此类情况而造成服务在合理时间内的中断，<strong>拿稳科技无需为此承担任何责任</strong>，但拿稳科技应尽可能事先进行通告并根据情况在相应服务页面提前作出通知。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（二）<strong>如发生下列任何一种情形，拿稳科技有权不经通知而中断或终止向您提供本协议项下的服务而无需对您或任何第三方承担任何责任</strong>：</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">1</span><span style="font-size: 12.0pt; font-family: 仿宋;">、根据法律规定您应提交真实信息，而您提供的资料不真实或与注册时信息不一致又未能提供合理证明；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">2</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您违反相关法律、行政法规等国家规定或本协议的约定；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">、按照法律规定或主管部门的要求；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">4</span><span style="font-size: 12.0pt; font-family: 仿宋;">、出于安全的原因或其他必要的情形。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（三）您有权利自行备份存储您在本服务中注册以及获取的数据。</span></p>
    <p style="text-indent: 24.0pt;"><span style="font-size: 12.0pt; font-family: 仿宋;">如果您的服务被终止，拿稳科技可以从服务器上永久地删除您的数据，此外，您应当对从拿稳科技云系统中所获知的他人的信息予以保密，不得予以泄露、自行使用或将信息披露给第三方使用，否则您应当承担因此产生的一切责任。服务终止后拿稳科技没有义务向您返还数据。</span>
    </p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">&nbsp;</span></strong></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第五条 用户授权条款</span></strong></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">1</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您授权拿稳科技，将您提供给拿稳科技的信息、您享受拿稳科技服务产生的信息（包括本协议签署之前提供和产生的信息）以及拿稳科技根据本条约定查询、收集的信息，用于拿稳科技及其因服务所委托的合作伙伴为您提供服务、推荐产品以及自行或委托他人开展市场调查与信息数据分析。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">2</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您授权拿稳科技，基于为您提供更优质服务和产品的目的，向拿稳科技因服务必要开展合作的伙伴提供、查询、收集您的信息。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您授权拿稳科技，除法律另有规定之外，基于为您提供更优质服务和产品的目的，从拿稳科技因服务必要开展合作的伙伴处获取、查询、收集您的信息。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">4</span><span style="font-size: 12.0pt; font-family: 仿宋;">、为确保您的信息的安全，拿稳科技及其合作伙伴对上述信息负有保密义务，并采取各种措施保证信息安全。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">5</span><span style="font-size: 12.0pt; font-family: 仿宋;">、本条款自本协议签署时生效，具有独立法律效力，不受协议成立与否及效力状态变化的影响。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">6</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您的信息以拿稳科技云系统网站（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">http://zhishukejiyun.com:3000/</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">）所载明的因您注册或使用服务所填写的全部信息。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">&nbsp;</span></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第六条 免责条款</span></strong></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">您理解并同意，拿稳科技在以下情况下不承担责任（包括但不限于</span></strong><span
            style="font-size: 12.0pt; font-family: 仿宋;">）：</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（一）拿稳科技不对本服务提供任何形式的保证，包括但不限于本服务符合您的需求，本服务不受干扰、及时提供或免于出错。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（二）拿稳科技的合作单位所提供的服务内容及品质由该合作单位自行负责。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（三）拿稳科技不保证为向您提供便利而设置的外部链接的准确性和完整性，同时对于该等外部链接指向的不由拿稳科技云实际控制的任何网页上的内容，拿稳科技不承担任何责任。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（四）对于本协议第四条造成的服务变更、中断或终止，拿稳科技不承担责任。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（五）因以下情况没有正确执行您提交的拿稳科技云用户操作指令而造成损失的，拿稳科技不承担任何责任：</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">1</span><span style="font-size: 12.0pt; font-family: 仿宋;">、指令信息不明、存在乱码或不完整等；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">2</span><span style="font-size: 12.0pt; font-family: 仿宋;">、您所拥有的产品或服务发生失效、终止等情况；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">、其他拿稳科技云无过失的情况。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（六）对于受到计算机病毒、木马或其他恶意程序、黑客攻击所造成的损失。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（七）您须安全使用账户，妥善保存拿稳科技的用户名、密码，对您保管不善造成的损失拿稳科技不承担责任。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（八）如果您在共享环境下或在电脑被远程监控的情况下登录拿稳科技云，由此造成的损失拿稳科技不承担责任。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（九）拿稳科技不允许您使用他人身份信息注册，否则，因此产生的法律责任将由您本人承担，给他人造成损失的，您应给予赔偿并承担全部法律责任。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（十）如您使用他人账户，须事先获得他人同意。一旦输入正确的用户名和密码，拿稳科技即视您为已获得他人同意。您与他人之间因此产生的任何纠纷与拿稳科技无关，对您或他人的损失拿稳科技不承担责任，并且如造成拿稳科技损失，拿稳科技将保留追索的权利。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（十一）如果拿稳科技用户将账户详细信息输入其他任何服务系统而不是输入拿稳科技相关网页安全登录系统，由此造成的损失拿稳科技不承担责任。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（十二）拿稳科技云用户通过移动通讯设备登录相关网站和使用相关服务，因通讯过程中导致信息的不完整、丢失或被第三方拦截等不可归责于拿稳科技云的情形，拿稳科技云不承担责任。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（十三）因无法预见、无法避免且无法克服的不可抗力事件，导致拿稳科技云在本协议项下的义务无法履行或无法按时履行，拿稳科技云在法律允许的范围内免责。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（十四）如果拿稳科技存在投入使用时的科学技术水平尚不能发现的缺陷，由此造成的损失拿稳科技不承担责任。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（十五）拿稳科技云系统中的数据是因您及其它用户的注册和使用而产生，该些数据不应用做任何投资、交易或商业决策的依据。在您依据拿稳科技云系统中的数据作任何决策之前，请对数据进行独立核实。拿稳科技对您依据该些数据所作出的任何决策不承担任何责任和义务。</span>
    </p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">&nbsp;</span></strong></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第七条 知识产权</span></strong></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">拿稳科技是拿稳科技云系统的知识产权权利人。本系统的一切著作权、商标权、专利权、商业秘密等知识产权，以及本系统相关的所有信息内容</span></strong><strong><span
            style="font-size: 12.0pt; font-family: 仿宋;">受中华人民共和国法律法规的保护，除非事先经拿稳科技的合法授权，任何人不得擅自以任何形式使用，否则，拿稳公司可立即中止向该用户提供产品和服务，并依法追究其法律责任。</span></strong>
    </p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">&nbsp;</span></strong></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第八条 隐私权保护规则</span></strong></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">拿稳科技承诺采取严格的隐私政策，尊重并保护用户隐私。拿稳科技将按照本隐私权保护规则（以下简称&ldquo;本规则&rdquo;）收集、使用及共享您的个人信息。本规则包含了我们收集、存储、保护、使用和共享您的个人信息的条款，建议您完整地阅读本规则，以帮助您了解维护自己隐私权的方式。</span>
    </p>
    <p><span
            style="font-size: 12.0pt; font-family: 仿宋;">（一）个人信息的收集范围当您使用拿稳科技服务时，您会向我们主动提供一些信息，您同意并许可我们收集您的信息，以向您提供服务。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">我们收集信息的范围主要包括：</span></p>
    <ul>
        <li style="margin-left: 0cm; text-indent: 0cm;"><span style="font-size: 12.0pt; font-family: 仿宋;">为了遵守法律法规的要求，以及基于提供服务及改进服务质量的合理需要，我们需要识别您的身份。在您注册并使用拿稳科技时，您可能要向我们提供一些个人身份资料，例如姓名、证件类型和证件号码、手机号码、联系地址、电子邮件地址、配偶信息、家庭信息、工作信息等。</span>
        </li>
        <li style="margin-left: 0cm; text-indent: 0cm;"><span style="font-size: 12.0pt; font-family: 仿宋;">除上述信息外，拿稳科技为向您提供更个性化、更便捷的服务的需要而收集您的其他信息，包括但不限于年龄、生日、职业、教育程度、车辆信息、工资股票和贷款等财务信息等，以及其他资料如使用的语言种类、喜好等。</span>
        </li>
    </ul>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">、当您访问拿稳科技网站及拿稳科技云移动设备客户端时，我们可能会记录您操作的相关信息以及与拿稳科技服务相关的日志信息，这些信息可帮助我们向您提供精准服务并更好地保护您的账户安全。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">我们收集信息的范围以拿稳科技云系统网站（</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">http://zhishukejiyun.com:3000/</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">）所载明的因您注册或使用服务所填写的全部信息为准）</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（二）收集个人信息的目的</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">您理解并同意，拿稳科技云可能将用户所提供的个人信息用于以下一项或多项目的：</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">1</span><span style="font-size: 12.0pt; font-family: 仿宋;">、更准确的身份确认；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">2</span><span style="font-size: 12.0pt; font-family: 仿宋;">、用户购买商品及服务的要求提供数据；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">、满足用户使用各类网上服务、移动通讯服务及其他服务的要求；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">4</span><span style="font-size: 12.0pt; font-family: 仿宋;">、更好的用户服务和用户沟通，包括项目研究及计划发展、向用户发送相关新闻和服务信息、为用户提供有关优惠及推荐产品；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">5</span><span style="font-size: 12.0pt; font-family: 仿宋;">、预防或禁止非法的活动；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">6</span><span style="font-size: 12.0pt; font-family: 仿宋;">、经您许可的其他用途。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（三）保护和存储个人信息</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">为保持数据的准确性，防止擅自入侵及确保个人资料的正确使用，拿稳科技采取了适当的管理措施以保障网站收集个人资料的保密性。拿稳科技采用了安全技术措施来保护数据，建立严格的信息存储和使用制度规范，并对可能接触到您的信息的人员也采取了严格管理。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（四）个人信息的共享及披露</span></p>
    <p><span
            style="font-size: 12.0pt; font-family: 仿宋;">我们对您的信息承担保密义务，未经您允许的情况下不公开您的个人信息。您同意，我们在下列情况下将您的信息与第三方共享：</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">1</span><span style="font-size: 12.0pt; font-family: 仿宋;">、获得您的同意或授权；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">2</span><span style="font-size: 12.0pt; font-family: 仿宋;">、为提供您要求的服务所必需，某些服务需由合作伙伴（包括但不限于提供相关技术支持的公司、快递公司、提供奖品的公司、车辆融资租赁公司等）提供或共同提供，为了向您提供此类服务，拿稳科技有必要与提供该服务的合作伙伴共享完成该服务所需要的用户个人信息；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">3</span><span style="font-size: 12.0pt; font-family: 仿宋;">、拿稳科技与第三方共同进行推广活动，在推广活动中所收集的全部或部分个人信息可能会与该第三方分享；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">4</span><span style="font-size: 12.0pt; font-family: 仿宋;">、根据法律法规或政府的强制性规定，必须向有关司法或政府部门提供用户个人信息；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">5</span><span style="font-size: 12.0pt; font-family: 仿宋;">、为完成合并、分立、收购或资产转让；</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">6</span><span style="font-size: 12.0pt; font-family: 仿宋;">、为防止用户本人、他人的合法权益或社会公共利益受到重大危害。</span>
    </p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">（五）对第三方责任的声明</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">拿稳科技因服务必要，可能会将相关网站链接至拿稳科技开展合作的伙伴的网站（统称&ldquo;第三方网站&rdquo;）。本《隐私权保护规则》并不适用于这些第三方网站，因为它们不受拿稳科技控制。如果您使用拿稳科技提供的链接访问第三方网站，这些网站的运营商可能会收集您的个人信息。拿稳科技尽力确保所有链接的第三方网站采用同等的个人信息保护措施，但是拿稳科技不对这些第三方网站上的活动、隐私权政策或隐私保护水平承担任何法律或其他责任。</span>
    </p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第九条 法律效力</span></strong></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">一、用户使用拿稳科技服务即视为用户已阅读本协议并接受本协议的约束。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">二、本协议所有条款的标题仅为阅读方便，本身并无实际含义，不能作为本协议含义解释的依据。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">三、本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">&nbsp;</span></p>
    <p><strong><span style="font-size: 12.0pt; font-family: 仿宋;">第十条 法律适用和争议解决</span></strong></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">一、本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不含冲突法），如无相关法律规定的，则应参照通用国际商业惯例和</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">/</span><span
            style="font-size: 12.0pt; font-family: 仿宋;">或行业惯例。</span></p>
    <p><span style="font-size: 12.0pt; font-family: 仿宋;">二、您与拿稳科技云在履行本协议的过程中，如发生争议，应协商解决。协商不成的，应将争议提请至安徽拿稳信息科技有限公司住所地有管辖权的人民法院诉讼裁决。</span>
    </p>

    <div style="align-content: center; font-size: large; text-align: center">
        <label for="agreeRules" style="align-content: center">
            <button class="btn btn-default disagree" name="disagree" id="disagree" value="不同意">不同意</button>
            <a class="btn btn-primary agree" name="agree" id="agree" href="/" style="">同意并继续</a>
        </label>
    </div>
</template>
