<template name="postPage">
  <div><p style="font-size:30px; margin-left: 37%"><strong>个人车辆融资租赁申请表</strong></p></div>

  <p><strong>数据录入员姓名：</strong>{{type_person_name}}</p>

  <div><p><strong>本人正脸相片：</strong></p></div>
  <img src="{{c.url get_front_image}}" style="height:200px; width: 160px">

  <div><p><strong>本人侧脸相片：</strong></p></div>
  <img src="{{c.url get_side_image}}" style="height:200px; width: 160px">

  <div><p><strong>本人手持身份证相片：</strong></p></div>
  <img src="{{c.url get_hold_image}}" style="height:200px; width: 160px">

  <div class="form-group">
    <label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第一部分.证件信息</label>
    <div>  
      <label class="control-label" for="person_name" style="font-size: 20px" >1. 申请人身份证</label>
    </div>
    
    </div>
  <p><strong>4.姓名：</strong>{{person_name}}</p>
  <p><strong>5.生日：</strong>{{person_birthday}}</p>
  <p><strong>6.性别：</strong>{{person_gender}}</p>
  <p><strong>7.证件类型：</strong>{{person_id_type}}</p>
  <p><strong>8.证件号码：</strong>{{person_id}}</p>
  <p><strong>9.发证机关：</strong>{{person_id_issuer}}</p>
  <p><strong>10.证件有效截止期间:</strong>{{person_id_issuer_date}}</p>
  <p><strong>11.家庭住址 (请具体到门牌号或者房间号)：</strong>{{person_address}}</p>
   <div class="form-group"> 
      <label class="control-label" for="person_name" style="font-size: 20px" >2. 申请人户口簿</label>
    </div>
  <p><strong>12.出生地 (xx省xx市)：</strong>{{person_birth_place}}</p>
  <p><strong>13.户籍所在地：</strong>{{person_addr_place}}</p>
  <p><strong>14.户籍属性：</strong>{{person_addr_type}}</p>
  <p><strong>15.身高(cm)：</strong>{{person_height}}</p>
  <p><strong>16.教育水平：</strong>{{person_education_level}}</p>
  <p><strong>17.婚姻状况：</strong>{{person_marriage}}</p>
  <p><strong>18.是否有子女：</strong>{{person_if_son}}</p>
  <p><strong>19.子女数量：</strong>{{person_child_num}}</p>
  <p><strong>20.子女1：姓名</strong>{{child_1_name}}    <strong>性别</strong>{{child_1_gender}}    <strong>出生日期</strong>{{child_1_birthday}}</p>
  <p><strong>子女2：姓名</strong>{{child_2_name}}    <strong>性别</strong>{{child_2_gender}}    <strong>出生日期</strong>{{child_2_birthday}}</p>
  <p><strong>子女3：姓名</strong>{{child_3_name}}    <strong>性别</strong>{{child_3_gender}}    <strong>出生日期</strong>{{child_3_birthday}}</p>
  <div class="form-group">      
      <label class="control-label" for="person_name" style="font-size: 20px" >3. 申请人驾驶证</label>  
  </div>
  <p><strong>21.是否持有驾照：</strong>{{person_if_driver_lisence}}</p>
  <p><strong>22.驾照类型:</strong>{{person_license_type}}</p>
  <p><strong>23.驾照号码:</strong>{{person_license_num}}</p>
  <p><strong>24.驾照发证时间（XX年XX月）:</strong>{{person_license_issue_date}}</p>
  <p><strong>25.驾照有效期截止时间（XX年XX月）:</strong>{{person_license_due}}</p>
  <div class="form-group">
      
      <label class="control-label" for="person_name" style="font-size: 20px" >4. 申请人工资条</label>
   
    </div>
  <p><strong>26.每月收入:</strong>{{person_income_month}}</p>
  <p><strong>27.单位名称:</strong>{{person_company}}</p>
  <p><strong>28.单位电话:</strong>{{person_company_phone}}</p>
  <p><strong>29.单位地址:</strong>{{person_company_addr}}</p>
  <p><strong>30.单位经济性质:</strong>{{person_company_type}}</p>
  <p><strong>31.所属行业:</strong>{{person_company_industry}}</p>
  <p><strong>32.职业:</strong>{{person_job}}</p>
  <p><strong>33.职务:</strong>{{person_post}}</p>
  <div class="form-group">
      
      <label class="control-label" for="person_name" style="font-size: 20px" >5. 配偶身份证</label>
   
    </div>
  <p><strong>34.配偶姓名:</strong>{{spouse_name}}</p>
  <p><strong>35.出生日期:</strong>{{spouse_birthday}}</p>
  <p><strong>36.证件类型:</strong>{{spouse_id_type}}</p>
  <p><strong>37.发证机关:</strong>{{spouse_id_issuer}}</p>
  <p><strong>38.证件有效截止期间（XX年XX月）:</strong>{{spouse_id_issuer_date}}</p>
  <p><strong>39.证件号码:</strong>{{spouse_id}}</p>
   <div class="form-group">
      
      <label class="control-label" for="person_name" style="font-size: 20px" >6. 配偶户口簿</label>
   
    </div>
  <p><strong>40.出生地 (xx省xx市):</strong>{{spouse_birth_place}}</p>
  <p><strong>41.户籍所在地:</strong>{{spouse_addr_place}}</p>
  <p><strong>42.户籍属性:</strong>{{spouse_addr_type}}</p>
  <p><strong>43.教育水平:</strong>{{spouse_education_level}}</p>
  <p><strong>44.身高:</strong>{{spouse_height}}</p>
   <div class="form-group">
      
      <label class="control-label" for="person_name" style="font-size: 20px" >7. 配偶驾驶证</label>
   
    </div>
  <p><strong>45.是否持有驾照：</strong>{{spouse_if_driver_lisence}}</p>
  <p><strong>46.驾照类型：</strong>{{spouse_license_type}}</p>
  <p><strong>47.驾照号码：</strong>{{spouse_license_num}}</p>
  <p><strong>48.驾照发证时间：</strong>{{spouse_license_issue_date}}</p>
  <p><strong>49.驾照有效期截止时间：</strong>{{spouse_license_due}}</p>
  <div class="form-group">
      
      <label class="control-label" for="person_name" style="font-size: 20px" >8. 配偶工资条</label>
   
    </div>

  <p><strong>50.每月收入：</strong>{{spouse_income_month}}</p>
  <p><strong>51.单位名称：</strong>{{spouse_company}}</p>
  <p><strong>52.单位电话：</strong>{{spouse_company_phone}}</p>
  <p><strong>53.单位地址：</strong>{{spouse_company_addr}}</p>
  <p><strong>54.单位经济性质：</strong>{{spouse_company_type}}</p>
  <p><strong>55.所属行业：</strong>{{spouse_company_industry}}</p>
  <p><strong>56.职业：</strong>{{spouse_job}}</p>
  <p><strong>57.职务：</strong>{{spouse_post}}</p>
   <div class="form-group">
      
      <label class="control-label" for="person_name" style="font-size: 20px" >9. 担保人身份证</label>
   
    </div>
  <p><strong>58.担保人姓名：</strong>{{guarantor_name}}</p>
  <p><strong>59.性别：</strong>{{guarantor_gender}}</p>
  <p><strong>60.生日：</strong>{{guarantor_birthday}}</p>
  <p><strong>61.证件类型：</strong>{{guarantor_id_type}}</p>
  <p><strong>62.证件号码：</strong>{{guarantor_id}}</p>
  <p><strong>63.发证机关：</strong>{{guarantor_id_issuer}}</p>
  <p><strong>64.证件有效截止期间：</strong>{{guarantor_id_issuer_date}}</p>
  <p><strong>65.家庭住址 (请具体到门牌号或者房间号)：</strong>{{guarantor_address}}</p>
  <div class="form-group">
      
      <label class="control-label" for="person_name" style="font-size: 20px" >10. 担保人工资条</label>
   
    </div>
  <p><strong>66.担保人单位名称：</strong>{{guarantor_company}}</p>
  <p><strong>67.每月收入：</strong>{{guarantor_income_month}}</p>
  <p><strong>68.单位电话：</strong>{{guarantor_company_phone}}</p>
  <p><strong>69.单位地址：</strong>{{guarantor_company_addr}}</p>
  <p><strong>70.单位经济性质：</strong>{{guarantor_company_type}}</p>
  <p><strong>71.所属行业：</strong>{{guarantor_company_industry}}</p>
  <p><strong>72.职业：</strong>{{guarantor_job}}</p>
  <p><strong>73.职务：</strong>{{guarantor_post}}</p>
  <div class="form-group">
    <label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第四部分.车辆融资讯息(以下信息由经销商汽车金融专员填写)</label>
    </div>
  <div><p><strong>74.汽车正面相片：</strong></p></div>
  <img src="{{c.url get_car_front_image}}" style="height:200px; width: 160px">

  <div><p><strong>75.汽车背面相片：</strong></p></div>
  <img src="{{c.url get_car_back_image}}" style="height:200px; width: 160px">

  

  <p><strong>76.融资车辆类型：</strong>{{car_type}}</p>
  <p><strong>77.品牌：</strong>{{car_brand}}</p>
  <p><strong>78.车型：</strong>{{motorcycle_type}}</p>
  <p><strong>79.车辆价格：</strong>{{car_price}}</p>
  <p><strong>80.GPS费用：</strong>{{gps_expense}}</p>
  <p><strong>81.保险费：</strong>{{insurance_expense}}</p>
  <p><strong>82.购置税：</strong>{{tax}}</p>
  <p><strong>83.首付金额：</strong>{{down_payment}}</p>
  <p><strong>84.首付比例：</strong>{{down_payment_percentage}}</p>
  <p><strong>85.融资金额：</strong>{{loan_value}}</p>
  <p><strong>86.融资期限：</strong>{{loan_term}}</p>
  <p><strong>87.车辆颜色：</strong>{{car_color}}</p>
  <p><strong>88.金融产品：</strong>{{financial_product}}</p>
  <p><strong>89.车架号：</strong>{{car_id}}</p>
  <p><strong>90.发动机号：</strong>{{engine_num}}</p>
  <p><strong>91.经销商名称：</strong>{{dealer_name}}</p>
  <p><strong>92.联系电话：</strong>{{dealer_phone_num}}</p>
   <div class="form-group">
    <label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第二部分.问答信息</label>
    <div>  
      <label class="control-label" for="person_name" style="font-size: 20px" >1. 家庭信息</label>
    </div>
    
    </div>


  <p><strong>93.申请人手机号码：</strong>{{applicant_phone_num}}</p>
  <p><strong>94.本号码开始使用时间：</strong>{{applicant_phone_num_starting_date}}</p>
  <p><strong>95.配偶手机号码：</strong>{{spouse_phone_num}}</p>
  <p><strong>96.本号码开始使用时间：</strong>{{spouse_phone_num_starting_date}}</p>
  <p><strong>97.家庭每月开支：</strong>{{family_expense}}</p>
  <p><strong>98.家庭拥有住宅数量：</strong>{{family_house}}</p>
  <p><strong>99.住宅状况：</strong>{{house_type}}</p>
  <p><strong>100.房贷每月还款：</strong>{{repayment}}</p>
  <p><strong>101.每月房租：</strong>{{house_rent}}</p>
  <p><strong>102.入住日期：</strong>{{check_in_date}}</p>
  <p><strong>103.子女学费总额（每年）：</strong>{{children_tuition}}</p>
  <p><strong>104.子女是否患有以下疾病(多选题)：</strong>{{child_disease}}</p>

  <p><strong>105.是否与老人同住：</strong>{{live_with_parent}}</p>
  <p><strong>106.同住老人： 老人姓名</strong>{{parent_1_name}} <strong>出生日期</strong>{{parent_1_birthday}} 
              <strong>与申请人关系</strong>{{parent_1_relation}}
      </p>
      <p><strong>老人姓名</strong>{{parent_2_name}} <strong>出生日期</strong>{{parent_2_birthday}} 
              <strong>与申请人关系</strong>{{parent_2_relation}}
      </p>
      <p><strong>老人姓名</strong>{{parent_3_name}} <strong>出生日期</strong>{{parent_3_birthday}} 
              <strong>与申请人关系</strong>{{parent_3_relation}}
      </p>

  <p><strong>107.老人是否患有以下疾病(多选题)：</strong>{{parent_disease}}</p>
  <div class="form-group">    
      <label class="control-label" for="person_name" style="font-size: 20px" >2. 基本信息</label>  
    </div>
  <p><strong>108.申请人是否持有护照：</strong>{{applicant_passport}}</p>
  <p><strong>109.配偶是否持有护照：</strong>{{spouse_passport}}</p>
  <p><strong>110.申请人是否有出国/出境经历：</strong>{{applicant_go_abroad}}</p>
  <p><strong>111.配偶是否有出国/出境经历：</strong>{{spouse_go_abroad}}</p>
  <p><strong>112.申请人最近一次去过的国家：</strong>{{applicant_country}}</p>
  <p><strong>113.配偶最近一次去过的国家：</strong>{{spouse_country}}</p>
  <p><strong>114.申请人是否有五险一金</strong>{{person_insurance}}</p>
  <p><strong>115.配偶是否有五险一金</strong>{{spouse_insurance}}</p>

  <p><strong>116.申请人教育信息</strong></p>
  <p><strong>申请人小学校名</strong> {{applicant_primary_school}}  <strong>申请人小学入学年份：</strong>{{applicant_primary_start}}</p>
  <p><strong>申请人初中校名：</strong>{{applicant_middle_school}}  <strong>申请人初中入学年份：</strong>{{applicant_middle_start}}</p>
  <p><strong>申请人高中/中专校名：</strong>{{applicant_high_school}}  <strong>申请人高中/中专入学年份：</strong>{{applicant_high_start}}</p>
  <p><strong>申请人大学校名：</strong>{{applicant_undergraduate}}  <strong>申请人大学入学年份：</strong>{{applicant_undergraduate_start}}</p>
  <p><strong>申请人研究生校名：</strong>{{applicant_master}}  <strong>申请人研究生入学年份：</strong>{{applicant_master_start}}</p>

  <p><strong>117.配偶教育信息</strong></p>
  <p><strong>配偶小学校名：</strong>{{applicant_primary_school}}  <strong>配偶小学入学年份：</strong>{{spouse_primary_start}}</p>
  <p><strong>配偶初中校名：</strong>{{spouse_middle_school}}  <strong>配偶初中入学年份：</strong>{{spouse_middle_start}}</p>
  <p><strong>配偶高中/中专校名：</strong>{{spouse_high_school}}  <strong>配偶高中/中专入学年份：</strong>{{spouse_high_start}}</p>
  <p><strong>配偶大学校名：</strong>{{spouse_undergraduate}}  <strong>配偶大学入学年份：</strong>{{spouse_undergraduate_start}}</p>
  <p><strong>配偶研究生校名：</strong>{{spouse_master}}  <strong>配偶研究生入学年份：</strong>{{spouse_master_start}}</p>

  <p><strong>118.申请人是否每周阅读纸质报纸：</strong>{{applicant_newspaper}}</p>
  <p><strong>119.申请人每天查看并回复：</strong>{{person_read_reply}}</p>
  <p><strong>120.申请人是否认识律师：</strong>{{applicant_lawyer}}</p>
  <p><strong>121.您所认识的律师姓名：</strong>{{layer_name}}  <strong>您所认识的律师电话：</strong>{{layer_phone_num}}</p>
  <div class="form-group">    
      <label class="control-label" for="person_name" style="font-size: 20px" >3. 工作信息</label>  
    </div>
  <p><strong>122.申请人工作履历：</strong></p>
  <p><strong>单位名称</strong> {{person_jobname_1}} <strong>所在省份城市</strong> {{person_jobplace_1}}
     <strong>起始时间</strong> {{person_jobstart_1}} <strong>结束时间</strong> {{person_jobend_1}} </p>
  <p><strong>单位名称</strong> {{person_jobname_2}} <strong>所在省份城市</strong> {{person_jobplace_2}}
     <strong>起始时间</strong> {{person_jobstart_2}} <strong>结束时间</strong> {{person_jobend_2}} </p>
  <p><strong>单位名称</strong> {{person_jobname_3}} <strong>所在省份城市</strong> {{person_jobplace_3}} 
     <strong>起始时间</strong> {{person_jobstart_3}} <strong>结束时间</strong> {{person_jobend_3}} </p>
  
  <p><strong>123.配偶工作履历：</strong></p>
  <p><strong>单位名称</strong> {{spouse_jobname_1}} <strong>所在省份城市</strong> {{spouse_jobplace_1}}
     <strong>起始时间</strong> {{spouse_jobstart_1}} <strong>结束时间</strong> {{spouse_jobend_1}} </p>
  <p><strong>单位名称</strong> {{spouse_jobname_2}} <strong>所在省份城市</strong> {{spouse_jobplace_2}}
     <strong>起始时间</strong> {{spouse_jobstart_2}} <strong>结束时间</strong> {{spouse_jobend_2}} </p>
  <p><strong>单位名称</strong> {{spouse_jobname_3}} <strong>所在省份城市</strong> {{spouse_jobplace_3}} 
     <strong>起始时间</strong> {{spouse_jobstart_3}} <strong>结束时间</strong> {{spouse_jobend_3}} </p>
  
  <p><strong>124.申请人职称：</strong>{{applicant_title}}</p>
  <p><strong>125.配偶职称：</strong>{{spouse_title}}</p>
  <p><strong>126.申请人从业资格证：</strong>{{applicant_certificate}}</p>
  <p><strong>127.配偶从业资格证：</strong>{{spouse_certificate}}</p>
  <div class="form-group">    
      <label class="control-label" for="person_name" style="font-size: 20px" >4. 金融信息</label>  
    </div>
  <p><strong>128.申请人年收入：</strong>{{applicant_income}}</p>
  <p><strong>129.申请人固定收入/薪水是否超过总收入70%：</strong>{{person_inc_str}}</p>
  <p><strong>130.配偶年收入：</strong>{{spouse_income}}</p>
  <p><strong>131.配偶固定收入/薪水是否超过总收入70%：</strong>{{person_spouse_inc_str}}</p>
  <p><strong>132.申请人是否有股票等金融产品交易账户：</strong>{{person_if_finance}}</p>
  <p><strong>133.申请人股票等金融产品投资总额：</strong>{{person_finance_invest}}</p>

  <p><strong>134.申请人持有储蓄卡的数量:</strong>{{person_num_debit}}</p>
  <p><strong>135.申请人</strong></p>
  <p><strong>储蓄卡1：</strong>{{person_debit1_bank}} <strong>卡号：</strong>{{person_debit1_num}}</p>
  <p><strong>储蓄卡2：</strong>{{person_debit2_bank}} <strong>卡号：</strong>{{person_debit2_num}}</p>
  <p><strong>储蓄卡3：</strong>{{person_debit3_bank}} <strong>卡号：</strong>{{person_debit3_num}}</p>

  <p><strong>136.配偶持有储蓄卡的数量</strong>{{person_spouse_num_debit}}</p>
  <p><strong>137.配偶</strong></p>
  <p><strong>储蓄卡1：</strong>{{spouse_debit1_bank}} <strong>卡号：</strong>{{spouse_debit1_num}}</p>
  <p><strong>储蓄卡2：</strong>{{spouse_debit2_bank}} <strong>卡号：</strong>{{spouse_debit2_num}}</p>
  <p><strong>储蓄卡3：</strong>{{spouse_debit3_bank}} <strong>卡号：</strong>{{spouse_debit3_num}}</p>

  <p><strong>138.申请人持有信用卡的数量</strong>{{person_num_credit}}</p>
  <p><strong>139.申请人</strong></p>
  <p><strong>信用卡1：</strong>{{person_credit1_bank}} <strong>授信额度：</strong>{{person_credit1_num}}</p>
  <p><strong>信用卡2：</strong>{{person_credit2_bank}} <strong>授信额度：</strong>{{person_credit2_num}}</p>
  <p><strong>信用卡3：</strong>{{person_credit3_bank}} <strong>授信额度：</strong>{{person_credit3_num}}</p>
  <p><strong>授信额度总计：</strong>{{person_credit_total}}</p>

  <p><strong>140.配偶持有信用卡的数量</strong>{{person_spouse_num_credit}}</p>
  <p><strong>141.配偶</strong></p>
  <p><strong>信用卡1：</strong>{{spouse_credit1_bank}} <strong>授信额度：</strong>{{spouse_credit1_num}}</p>
  <p><strong>信用卡2：</strong>{{spouse_credit2_bank}} <strong>授信额度：</strong>{{spouse_credit2_num}}</p>
  <p><strong>信用卡3：</strong>{{spouse_credit3_bank}} <strong>授信额度：</strong>{{spouse_credit3_num}}</p>
  <p><strong>授信额度总计：</strong>{{spouse_credit_total}}</p>

  <p><strong>142.是否有家庭贷款：</strong>{{person_if_loan}}</p>
  <p><strong>143.家庭贷款总额：</strong>{{person_loan_amount}}</p>
  <p><strong>144.家庭贷款类别：</strong>{{person_loan_type}}</p>
  <p><strong>145.申请人是否支付宝，微信支付等网络支付系统：</strong>{{person_if_epay}}</p>
  <p><strong>146.配偶人是否支付宝，微信支付等网络支付系统：</strong>{{person_spouse_if_epay}}</p>

  <div class="form-group">    
      <label class="control-label" for="person_name" style="font-size: 20px" >5. 健康信息</label>  
    </div>
  <p><strong>147.申请人近视度数（不近视请填0）：</strong>{{person_shortsight}}</p>
  <p><strong>148.配偶近视度数（不近视请填0）：</strong>{{person_spouse_shortsight}}</p>
  <p><strong>149.申请人是否每年体检：</strong>{{person_if_healthexam}}</p>
  <p><strong>150.配偶是否每年体检：</strong>{{person_if_spouse_healthexam}}</p>

  <p><strong>151.申请人是否患有以下疾病(多选题)：</strong>{{user_disease}}</p>
  <p><strong>152.配偶是否患有以下疾病(多选题)：</strong>{{spouse_disease}}</p>
  <p><strong>153.申请人是否长期服用药物（请注明药物）：</strong>{{person_if_drug}}</p>
  <p><strong>154.配偶是否长期服用药物（请注明药物）：</strong>{{spouse_if_drug}}</p>
  <p><strong>155.申请人是否有过敏史（请注明过敏原）：</strong>{{person_if_allergy}}</p>
  <p><strong>156.配偶是否有过敏史（请注明过敏原）：</strong>{{spouse_if_allergy}}</p>

  <p><strong>157.申请人是否有大病经历：</strong>{{person_if_serious_ill}}</p>
  <p><strong>158.疾病：</strong>{{person_ill}}  <strong>患病时间（XX年XX月）：</strong>{{person_ill_time}}</p>
  <p><strong>159.配偶是否有大病经历：</strong>{{person_spouse_if_serious_ill}}</p>
  <p><strong>160.疾病：</strong>{{spouse_ill}}  <strong>患病时间（XX年XX月）：</strong>{{spouse_ill_time}}</p>
  <p><strong>161申请人是否有手术经历：</strong>{{person_if_surgery}}</p>
  <p><strong>162.手术原因：</strong>{{person_surgery}}  <strong>手术时间（XX年XX月）：</strong>{{person_surgery_time}}</p>
  <p><strong>163.配偶是否有手术经历：</strong>{{person_spouse_if_surgery}}</p>
  <p><strong>164.手术原因：</strong>{{spouse_surgery}}  <strong>手术时间（XX年XX月）：</strong>{{spouse_surgery_time}}</p>
  <p><strong>165.申请人是否吸烟：</strong>{{person_if_smoke}}</p>
  <p><strong>166.申请人吸烟频率：</strong>{{person_smoke_frequency}}</p>
  <p><strong>167.配偶是否吸烟：</strong>{{person_spouse_if_smoke}}</p>
  <p><strong>168.配偶吸烟频率：</strong>{{person_spouse_smoke_frequency}}</p>
  <p><strong>169.申请人是否饮酒：</strong>{{person_if_drink}}</p>
  <p><strong>170.申请人饮酒情况：</strong>{{person_drink}}</p>
  <p><strong>171.配偶是否饮酒：</strong>{{person_spouse_if_drink}}</p>
  <p><strong>172.配偶饮酒情况：</strong>{{person_spouse_drink}}</p>
  <p><strong>173.申请人是否经常在12点后入睡：</strong>{{person_if_staylate}}</p>
  <p><strong>174.配偶是否经常在12点后入睡：</strong>{{person_spouse_if_staylate}}</p>
  <p><strong>175.申请人是否经常失眠：</strong>{{person_if_insomnia}}</p>
  <p><strong>176.配偶是否经常失眠：</strong>{{person_spouse_insomnia}}</p>
  <p><strong>177.申请人是否经常在家吃饭：</strong>{{person_if_eatathome}}</p>
  <p><strong>178.配偶是否经常在家吃饭：</strong>{{person_spouse_if_eatathome}}</p>
  <p><strong>179.申请人每周锻炼次数：</strong>{{person_exercise_frequency}}</p>
  <p><strong>180.配偶每周锻炼次数：</strong>{{person_spouse_exercise_frequency}}</p>
  <p><strong>181.申请人是否持有健身房会员卡：</strong>{{person_if_exercise_membership}}</p>
  <p><strong>182.配偶是否持有健身房会员卡：</strong>{{person_spouse_if_exercise_membership}}</p>
   <div class="form-group">
    <label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第三部分.担保人信息</label>
    </div>
  <p><strong>183.担保人与申请人关系：</strong>{{guarantor_relationship}}</p>
  <p><strong>184.与申请人首次认识时间（XX年XX月）：</strong>{{guarantor_first_meet}}</p>
   <div class="form-group">
    <label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >紧急联系人信息(非申请人配偶/保证人)</label>
    </div>
  <p><strong>185.紧急联系人1：</strong>{{emergency1_name}}</p>
  <p><strong>186.与申请人关系：</strong>{{emergency1_relationship}}</p>
  <p><strong>187.手机号码：</strong>{{emergency1_contact}}</p>
  <p><strong>188.紧急联系人2：</strong>{{emergency2_name}}</p>
  <p><strong>189与申请人关系：</strong>{{emergency2_relationship}}</p>
  <p><strong>190.手机号码：</strong>{{emergency2_contact}}</p>




  <input type="submit" value="打印" class="print_btn btn btn-primary" />
</template>