<template name="postPage">
  
  <img src="{{c.url getId}}" style="height:200px; width: 160px">
  
  <storng>姓名：</storng><p>{{person_name}}</p>
  <p>生日：{{person_birthday}}</p>
  <p>性别：{{person_gender}}</p>
  <p>证件类型：{{person_id_type}}</p>
  <p>证件号码：{{person_id}}</p>
  <p>发证机关：{{person_id_issuer}}</p>

  <p>申请人固定收入/薪水是否超过总收入70%：{{person_inc_str}}</p>
  <p>配偶年收入:{{person_spouse_income}}</p>
  <p>配偶固定收入/薪水是否超过总收入70%：{{person_spouse_inc_str}}</p>
  <p>申请人是否有股票等金融产品交易账户：{{person_if_finance}}</p>
  <p>申请人股票等金融产品投资总额：{{person_finance_invest}}</p>
  <p>申请人持有储蓄卡的数量:{{person_num_debit}}</p>
  <p>配偶持有储蓄卡的数量{{person_spouse_num_debit}}</p>
  <p>申请人持有信用卡的数量{{person_num_credit}}</p>
  <p>配偶持有信用卡的数量{{person_spouse_credit}}</p>
  <p>是否有家庭贷款{{person_if_loan}}</p>
  <p>家庭贷款总额{{person_loan_amount}}</p>
  <p>家庭贷款类别{{person_loan_type}}</p>
  <p>申请人是否支付宝，微信支付等网络支付系统{{person_if_epay}}</p>
  <p>配偶人是否支付宝，微信支付等网络支付系统{{person_spouse_if_epay}}</p>
  <p>申请人近视度数（不近视请填0）{{person_shortsight}}</p>
  <p>配偶近视度数（不近视请填0）{{person_spouse_shortsight}}</p>
  <p>申请人是否每年体检{{person_if_healthexam}}</p>
  <p>配偶是否每年体检{{person_if_spouse_healthexam}}</p>
  <p>申请人是否有大病经历{{person_if_serious_ill}}</p>
  <p>配偶是否有大病经历{{person_spouse_if_serious_ill}}</p>
  <p>申请人是否有手术经历{{person_if_surgery}}</p>
  <p>配偶是否有手术经历{{person_spouse_if_surgery}}</p>
  <p>申请人是否吸烟{{person_if_smoke}}</p>
  <p>申请人吸烟频率{{person_smoke_frequency}}</p>
  <p>配偶是否吸烟{{person_spouse_if_smoke}}</p>
  <p>配偶吸烟频率{{person_spouse_smoke_frequency}}</p>
  <p>申请人是否饮酒{{person_if_drink}}</p>
  <p>申请人饮酒情况{{person_drink}}</p>
  <p>配偶是否饮酒{{person_spouse_if_drink}}</p>
  <p>配偶饮酒情况{{person_spouse_drink}}</p>
  <p>申请人是否经常在12点后入睡{{person_if_staylate}}</p>
  <p>配偶是否经常在12点后入睡{{person_spouse_if_staylate}}</p>
  <p>申请人是否经常失眠{{person_if_insomnia}}</p>
  <p>配偶是否经常失眠{{person_spouse_insomnia}}</p>
  <p>申请人是否经常在家吃饭{{person_if_eatathome}}</p>
  <p>配偶是否经常在家吃饭{{person_spouse_if_eatathome}}</p>
  <p>申请人每周锻炼次数{{person_exercise_frequency}}</p>
  <p>配偶每周锻炼次数{{person_spouse_exercise_frequency}}</p>
  <p>申请人是否持有健身房会员卡{{person_if_exercise_membership}}</p>
  <p>配偶是否持有健身房会员卡{{person_spouse_if_exercise_membership}}</p>
  <p>担保人与申请人关系{{guarantor_relationship}}</p>
  <p>与申请人首次认识时间（XX年XX月）：{{guarantor_first_meet}}</p>
  <p>紧急联系人1{{emergency1_name}}</p>
  <p>与申请人关系{{emergency1_relationship}}</p>
  <p>手机号码{{emergency1_contact}}</p>
  <p>紧急联系人2{{emergency2_name}}</p>
  <p>与申请人关系{{emergency2_relationship}}</p>
  <p>手机号码{{emergency2_contact}}</p>


  <input type="submit" value="打印" class="print_btn btn btn-primary" />
</template>