<template name="postEdit">
  <form class="main form">
    
    <div class="form-group">
    <p>{{getId}}</p>
    <label class="control-label" for="person_name">上传照片</label>
      <div class="controls">
        <input type="file" id="userimage" name="userimage" value=getId class="form-control" />
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_name">申请人姓名</label>
      <div class="controls">
          <input name="person_name" id="person_name" type="text" value="{{person_name}}"  placeholder="{{person_name}}" class="form-control"/>
      </div>
    </div>



      <div class="form-group">
      <label class="control-label" for="person_gender">性别</label>
      <div class="controls">
          <select name="person_gender" id="person_gender" value="{{person_gender}}" placeholder="{{person_gender}}" class="form-control">
            <option value="男">男</option>
            <option value="女">女</option>
      </select>
      </div>
      </div>

    <script>
    var mySelect = document.getElementById('person_gender');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_gender}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_birthday">生日</label>
      <div class="controls">
         <input name="person_birthday" id="person_birthday" type="date" value="{{person_birthday}}"  class="form-control"/>        
      </div>
    </div>

      <div class="form-group">
      <label class="control-label" for="person_id_type">证件类型</label>
      <div class="controls">
          <select name="person_id_type" id="person_id_type" class="form-control" value="{{person_id_type}}">
            <option value="居民身份证">居民身份证</option>
            <option value="军官证">军官证</option>
            <option value="武警警官证">武警警官证</option>
            <option value="士兵证">士兵证</option>
            <option value="港澳居民往来内地通行证">港澳居民往来内地通行证</option>
            <option value="台湾居民往来内地通行证">台湾居民往来内地通行证</option>
            <option value="外国护照">外国护照</option>
          </select>        
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_id_type');

    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_id_type}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id">证件号码</label>
      <div class="controls">
          <input name="person_id" id="person_id" type="text" value="{{person_id}}"  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">9.发证机关</label>
      <div class="controls">
          <input name="person_id_issuer" id="person_id_issuer" type="text" value="{{person_id_issuer}}"  placeholder="{{person_id_issuer}}"  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">129.申请人固定收入/薪水是否超过总收入70%</label>
      <div class="controls">
          <select name="person_inc_str" id="person_inc_str" class="form-control" value="{{person_inc_str}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_inc_str');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_inc_str}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id">130.配偶年收入 </label>
      <div class="controls">
          <input name="person_spouse_income" id="person_spouse_income" type="text" value="{{person_spouse_income}}"  placeholder="{{person_spouse_income}}"  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">131.配偶固定收入/薪水是否超过总收入70%</label>
      <div class="controls">
          <select name="person_spouse_inc_str" id="person_spouse_inc_str" class="form-control" value="{{person_spouse_inc_str}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_inc_str');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_inc_str}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">132.申请人是否有股票等金融产品交易账户</label>
      <div class="controls">
          <select name="person_if_finance" id="person_if_finance" value="{{person_if_finance}}" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_finance');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_finance}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id">133.申请人股票等金融产品投资总额 </label>
      <div class="controls">
          <input name="person_finance_invest" id="person_finance_invest" type="text" value="{{person_finance_invest}}" placeholder="{{person_finance_invest}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">134.申请人持有储蓄卡的数量</label>
      <div class="controls">
          <input name="person_num_debit" id="person_num_debit" type="text" value="{{person_num_debit}}" placeholder="{{person_num_debit}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">136.配偶持有储蓄卡的数量</label>
      <div class="controls">
          <input name="person_spouse_num_debit" id="person_spouse_num_debit" type="text" value="{{person_spouse_num_debit}}" placeholder="{{person_spouse_num_debit}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">138.申请人持有信用卡的数量</label>
      <div class="controls">
          <input name="person_num_crebit" id="person_num_crebit" type="text" value="{{person_num_crebit}}" placeholder="{{person_num_crebit}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">140.配偶持有信用卡的数量</label>
      <div class="controls">
          <input name="person_spouse_num_crebit" id="person_spouse_num_crebit" type="text" value="{{person_spouse_num_crebit}}" placeholder="{{person_spouse_num_crebit}}"  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">142.是否有家庭贷款</label>
      <div class="controls">
          <select name="person_if_loan" id="person_if_loan" class="form-control" value="{{person_if_loan}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_loan');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_loan}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id">143.家庭贷款总额</label>
      <div class="controls">
          <input name="person_loan_amount" id="person_loan_amount" type="text" value="{{person_loan_amount}}" placeholder="{{person_loan_amount}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">144.家庭贷款类别</label>
      <div class="controls">
          <input name="person_loan_type" id="person_loan_type" type="text" value="{{person_loan_type}}" placeholder="{{person_loan_type}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">145.申请人是否支付宝，微信支付等网络支付系统</label>
      <div class="controls">
          <select name="person_if_epay" id="person_if_epay" class="form-control" value="{{person_if_epay}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_epay');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_epay}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">146.配偶人是否支付宝，微信支付等网络支付系统</label>
      <div class="controls">
          <select name="person_spouse_if_epay" id="person_spouse_if_epay" class="form-control" value="{{person_spouse_if_epay}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_if_epay');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_if_epay}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id">147.申请人近视度数（不近视请填0）</label>
      <div class="controls">
          <input name="person_shortsight" id="person_shortsight" type="text" value="{{person_shortsight}}" placeholder="{{person_shortsight}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">148.配偶近视度数（不近视请填0）</label>
      <div class="controls">
          <input name="person_spouse_shortsight" id="person_spouse_shortsight" type="text" value="{{person_spouse_shortsight}}" placeholder="{{person_spouse_shortsight}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">149.申请人是否每年体检</label>
      <div class="controls">
          <select name="person_if_healthexam" id="person_if_healthexam" class="form-control" value="{{person_if_healthexam}}" >
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_healthexam');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_healthexam}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">150.配偶是否每年体检</label>
      <div class="controls">
          <select name="person_if_spouse_healthexam" id="person_if_spouse_healthexam" class="form-control" value="{{person_if_spouse_healthexam}}" >
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_spouse_healthexam');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_spouse_healthexam}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">157.申请人是否有大病经历</label>
      <div class="controls">
          <select name="person_if_serious_ill" id="person_if_serious_ill" class="form-control" value="{{person_if_serious_ill}}" >
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_serious_ill');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_serious_ill}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

     <div class="form-group">
      <label class="control-label" for="person_id_type">159.配偶是否有大病经历</label>
      <div class="controls">
          <select name="person_spouse_if_serious_ill" id="person_spouse_if_serious_ill" class="form-control" value="{{person_spouse_if_serious_ill}}" >
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_if_serious_ill');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_if_serious_ill}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">161.申请人是否有手术经历</label>
      <div class="controls">
          <select name="person_if_surgery" id="person_if_surgery" class="form-control" value="{{person_if_surgery}}" >
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_surgery');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_surgery}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">163.配偶是否有手术经历</label>
      <div class="controls">
          <select name="person_spouse_if_surgery" id="person_spouse_if_surgery" class="form-control" value="{{person_spouse_if_surgery}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_if_surgery');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_if_surgery}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">165.申请人是否吸烟</label>
      <div class="controls">
          <select name="person_if_smoke" id="person_if_smoke" class="form-control" value="{{person_if_smoke}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_smoke');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_smoke}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">166.申请人吸烟频率</label>
      <div class="controls">
          <select name="person_smoke_frequency" id="person_smoke_frequency" class="form-control" value="{{person_smoke_frequency}}" >
            <option value="≦五根/天">≦五根/天</option>
            <option value=">五根/天">>五根/天</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_smoke_frequency');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_smoke_frequency}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">167.配偶是否吸烟</label>
      <div class="controls">
          <select name="person_spouse_if_smoke" id="person_spouse_if_smoke" class="form-control" value="{{person_spouse_if_smoke}}" >
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_if_smoke');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_if_smoke}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

     <div class="form-group">
      <label class="control-label" for="person_id_type">168.配偶吸烟频率</label>
      <div class="controls">
          <select name="person_spouse_smoke_frequency" id="person_spouse_smoke_frequency" class="form-control" value="{{person_spouse_smoke_frequency}}" >
            <option value="≦五根/天">≦五根/天</option>
            <option value=">五根/天">>五根/天</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_smoke_frequency');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_smoke_frequency}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">169.申请人是否饮酒</label>
      <div class="controls">
          <select name="person_if_drink" id="person_if_drink" class="form-control" value="{{person_if_drink}}" >
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_drink');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_drink}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">170.申请人饮酒情况</label>
      <div class="controls">
          <select name="person_drink" id="person_drink" class="form-control" value="{{person_drink}}">
            <option value="只在工作应酬时喝酒">只在工作应酬时喝酒</option>
            <option value="只在工作与朋友聚会时喝酒">只在工作与朋友聚会时喝酒</option>
            <option value="自己在家也喝酒">自己在家也喝酒</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_drink');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_drink}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">171.配偶是否饮酒</label>
      <div class="controls">
          <select name="person_spouse_if_drink" id="person_spouse_if_drink" class="form-control" value="{{person_spouse_if_drink}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_if_drink');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_if_drink}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">172.配偶饮酒情况</label>
      <div class="controls">
          <select name="person_spouse_drink" id="person_spouse_drink" class="form-control" value="{{person_spouse_drink}}">
            <option value="只在工作应酬时喝酒">只在工作应酬时喝酒</option>
            <option value="只在工作与朋友聚会时喝酒">只在工作与朋友聚会时喝酒</option>
            <option value="自己在家也喝酒">自己在家也喝酒</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_drink');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_drink}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">173.申请人是否经常在12点后入睡</label>
      <div class="controls">
          <select name="person_if_staylate" id="person_if_staylate" class="form-control" value="{{person_if_staylate}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_staylate');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_staylate}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">174.配偶是否经常在12点后入睡</label>
      <div class="controls">
          <select name="person_spouse_if_staylate" id="person_spouse_if_staylate" class="form-control" value="{{person_spouse_if_staylate}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_if_staylate');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_if_staylate}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">175.申请人是否经常失眠</label>
      <div class="controls">
          <select name="person_if_insomnia" id="person_if_insomnia" class="form-control" value="{{person_if_insomnia}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_insomnia');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_insomnia}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">176.配偶是否经常失眠</label>
      <div class="controls">
          <select name="person_spouse_if_insomnia" id="person_spouse_if_insomnia" class="form-control" value="{{person_spouse_if_insomnia}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_if_insomnia');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_if_insomnia}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">177.申请人是否经常在家吃饭</label>
      <div class="controls">
          <select name="person_if_eatathome" id="person_if_eatathome" class="form-control" value="{{person_if_eatathome}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_eatathome');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_eatathome}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">178.配偶是否经常在家吃饭</label>
      <div class="controls">
          <select name="person_spouse_if_eatathome" id="person_spouse_if_eatathome" class="form-control" value="{{person_spouse_if_eatathome">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_if_eatathome');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_if_eatathome}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">179.申请人每周锻炼次数</label>
      <div class="controls">
          <select name="person_exercise_frequency" id="person_exercise_frequency" class="form-control" value="{{person_exercise_frequency}}">
            <option value="0次">0次</option>
            <option value="1-3次">1-3次</option>
            <option value="3次以上">3次以上</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_exercise_frequency');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_exercise_frequency}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">180.配偶每周锻炼次数</label>
      <div class="controls">
          <select name="person_spouse_exercise_frequency" id="person_spouse_exercise_frequency" class="form-control" value="{{person_spouse_exercise_frequency}}">
            <option value="0次">0次</option>
            <option value="1-3次">1-3次</option>
            <option value="3次以上">3次以上</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_exercise_frequency');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_exercise_frequency}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">181.申请人是否持有健身房会员卡</label>
      <div class="controls">
          <select name="person_if_exercise_membership" id="person_if_exercise_membership" class="form-control" value="{{person_if_exercise_membership}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_if_exercise_membership');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_if_exercise_membership}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">182.配偶是否持有健身房会员卡</label>
      <div class="controls">
          <select name="person_spouse_if_exercise_membership" id="person_spouse_if_exercise_membership" class="form-control" value="{{person_spouse_if_exercise_membership}}">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('person_spouse_if_exercise_membership');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{person_spouse_if_exercise_membership}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id_type">183.担保人与申请人关系</label>
      <div class="controls">
          <select name="guarantor_relationship" id="guarantor_relationship" class="form-control" value="{{guarantor_relationship}}">
            <option value="朋友">朋友</option>
            <option value="同事">同事</option>
            <option value="其他">其他</option>
          </select>
      </div>
    </div>

    <script>
    var mySelect = document.getElementById('guarantor_relationship');
    for(var i, j = 0; i = mySelect.options[j]; j++) {
        if(i.value == "{{guarantor_relationship}}") {
            mySelect.selectedIndex = j;
            break;
        }
    }
    </script>

    <div class="form-group">
      <label class="control-label" for="person_id">184.与申请人首次认识时间（XX年XX月）：</label>
      <div class="controls">
          <input name="guarantor_first_meet" id="guarantor_first_meet" type="text" value="{{guarantor_first_meet}}" placeholder="{{guarantor_first_meet}}"  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">185.紧急联系人1</label>
      <div class="controls">
          <input name="emergency1_name" id="emergency1_name" type="text" value="{{emergency1_name}}" placeholder="{{emergency1_name}}"  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">186.与申请人关系</label>
      <div class="controls">
          <input name="emergency1_relationship" id="emergency1_relationship" type="text" value="{{emergency1_relationship}}" placeholder="{{emergency1_relationship}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">187.手机号码</label>
      <div class="controls">
          <input name="emergency1_contact" id="emergency1_contact" type="text" value="{{emergency1_contact}}" placeholder="{{emergency1_contact}}"  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">188.紧急联系人2</label>
      <div class="controls">
          <input name="emergency2_name" id="emergency2_name" type="text" value="{{emergency2_name}}" placeholder="{{emergency2_name}}"  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">189.与申请人关系</label>
      <div class="controls">
          <input name="emergency2_relationship" id="emergency2_relationship" type="text" value="{{emergency2_relationship}}" placeholder="{{emergency2_relationship}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">190.手机号码</label>
      <div class="controls">
          <input name="emergency2_contact" id="emergency2_contact" type="text" value="{{emergency2_contact}}" placeholder="{{emergency2_contact}}"  class="form-control"/>
      </div>
    </div>

    <input type="submit" value="修改" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">删除</a>
  </form>
</template>