<template name="login">
    <style>
        body {
            background: url("/images/HK.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>登陆您的账户</h1><br>
            <form>
                <input type="text" name="username" placeholder="用户名">
                <input type="password" name="password" placeholder="密码">
                <input type="submit" name="login" class="login loginmodal-submit" value="登陆">
            </form>
        </div>
    </div>

</template>