<template name="postItem">
    <div class="post">
        <div class="post-content">
            <h3>{{person_name}}<span></span></h3>
            <p>
                {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">编辑</a>{{/if}}
            </p>
        </div>
        <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default" target="_blank">详细资料</a>
    </div>
</template>

<template name="postDetailItem">
    <tr>
        <td>{{person_name}}</td>
        <td>{{person_id}}</td>
        <td>{{person_address}}</td>
        <td>{{applicant_phone_num}}</td>
        <td>
            <a href="{{pathFor 'postPage'}}" target="_blank">详情</a>
            {{#if ownPost}}<a href="{{pathFor 'postEdit'}}" target="_blank">编辑</a>{{/if}}
        </td>
    </tr>
</template>